// @import '~bootstrap/scss/bootstrap';

* {
  box-sizing: border-box;
}

h1 {
  text-align: center;
  font-family: sans-serif;
}

body {
  background-color: white;
}

.container {
  overflow: hidden;
  width: 300px;
  margin: 50px auto 0 auto;

  .turn {
    width: 100%;
    display: block;
    text-align: center;
    font-family: sans-serif;
    font-size: 25px;
    color: #fff;
    background: #000;
    height: 40px;
    justify-content: center;
    padding-top: 8px;
  }

  .square {
    float: left;
    width: 100px;
    height: 100px;
    border: 3px solid;
    transition: all .25s ease-in-out;
    font-family: sans-serif;
    font-size: 75px;
    text-align: center;
    line-height: 100px;
    cursor: pointer;
  }
}

.messages {
  font-size: 24px;
  height: 24px;
}

// .turn {
//   background: #000;
//   color: #fff;
// }


.container .square:hover {
  background: rgba(10,10,10,0.5)
}

button {
background: rgba(10,10,10,0.9);
color: white;
font-weight: bold;
border: 1px solid rgba(20,20,20,0.7);
cursor: pointer;
width: 280px;
height: 40px;
font-size: 24px;
display: block;
margin: 10px auto;
}
